.header__book__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(220, 220, 220);
  text-align: center;
  font-size: 1rem;
}

.section__search__container {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.section__search__container button {
  width: 10vw;
  height: 5vh;
  border: none;
  border-radius: 10px;
  background: rgb(15, 15, 196);
  color: white;
  margin-left: 3vw;
}

.section__search__container button:hover {
}

.section__book__container {
  display: grid;
  grid-template-columns: auto auto auto;
}

.article__book__box {
  display: flex;
  border: 1px solid rgb(128, 128, 128);
  border-radius: 10px;
  margin: 1vw;
  padding: 10px;
  background: rgb(255, 255, 255);
}

.article__book__info {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

span {
  font-weight: bold;
}

.more__details {
  width: 5vw;
  height: 5vh;
  color: rgb(255, 255, 255);
  background: blue;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 10px;
}

.arrow {
  position: absolute;
  padding: 5px;
  box-shadow: 2px -2px 0 1px rgb(255, 255, 255) inset;
  border: solid transparent;
  border-width: 0 2px 0 2px;
  transform: rotate(230deg);
  margin-left: 50px;
}
